*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
    font-weight: bold;
}

section.main{
    width: 100%;
    height: 100vh;
    background:linear-gradient(45deg,deeppink,deeppink,blue,deeppink,deeppink);
    background-size: 200% 300%;

    animation: move-color 10s ease infinite;
}

@keyframes move-color {
    0%{background-position: top;}
    50%{background-position: bottom;}
    100%{background-position: top;}
}

.todo{
    width: 80%;
    margin: 6em auto 0;
    padding: 1.5em;
    background-color: #fff;
    color: blue;
    border-radius: 10px;
}

.todo h3{
    font-size: 23px;
    animation: move-text 5s linear infinite;
}

@keyframes move-text {
    100%{
        letter-spacing: 5px;
    }
}

.form-group{
    border-radius: 30px;
    background-color: #ddd4d4;
    margin: 1em 0;

    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 0.7em;
}

input{
    padding: 1em;
    border-radius: 30px;
    border: none;
    outline: none;
    background: transparent;
    font-weight: bold;
    color: blue;
}

input::placeholder{
    color: blue;
}


button{
    padding: 1em 3em;
    border-radius: 30px;

    background: linear-gradient(45deg,deeppink,deeppink,blue,blue,deeppink,deeppink);
    background-size: 100% 200%;
    color: #fff;
    font-family: cursive;
    border: none;
    cursor: pointer;

    animation: move-color-button 10s ease infinite;
}

@keyframes move-color-button {
    0%{background-position: top;}
    50%{background-position: bottom;}
    100%{background-position: top;}
}

ul.tasks{
    list-style: none;
    padding: 0;
}

ul.tasks li{
    padding: 0.7em 1.8em;
    position: relative;

    text-transform: uppercase;
    font-size: 18px;
    cursor: pointer;
}

ul.tasks li::before{
    content: '';
    background-color: red;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    position: absolute;
    left: 0px;
    top: 10px;
}

ul.tasks li.checked{
    text-decoration: line-through;
}

ul.tasks li.checked::before{
    background-color: blue;
}

ul.tasks li span{
    position: absolute;
    right: 5px;
    width: 23px;
    text-align: center;
    border: solid 1px red;
    border-radius: 50%;
    color: red;
    background-color: #fff;
    transition: 700ms ease;
    cursor: pointer;
}

ul.tasks li span:hover{
    background-color: red;
    color: #fff;
}

@media (max-width:600px) {
    .form-group{
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        border-radius: 0;
        background: transparent;
    }
    input{
        text-align: center;
        border-bottom: double 3px blue;
        border-radius: 0;
    }
    button{
        margin-top: 0.5em;
    }
    ul.tasks li{
        padding: 0.8em 1.6em 1em 1.5em;
        font-size: 13px;
        font-weight: 900;
    }

    ul.tasks li span{
        width: 16px;
    }

    ul.tasks li::before{
        width: 15px;
        height: 15px;
    }
}
